

body {
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

.button-class {
    background-color: #4caf50;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: lightskyblue;
    color: black;
    border: 2px solid lightblue;
}

.button-class:hover {
  background-color: gainsboro;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

/* Modal time! */
#modal-container {
    display: none;
  }


  
  .inner_modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 20%;
    height: 30%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
  }
  
  #modal-container.is-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /*to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    text-align: center;
  }

  @media all and (max-width: 1024px) {
    .inner_modal {
      margin: auto;
      display: inline-block;
      box-sizing: border-box;
      background: #fff;
      padding: 15px;
      width: 60%;
      height: 35%;
      max-width: 600px;
      text-align: center;
      border-radius: 10px;
    }
  }

  @media all and (max-width: 650px) {
    .inner_modal {
      margin: auto;
      display: inline-block;
      box-sizing: border-box;
      background: #fff;
      padding: 15px;
      width: 60%;
      height: 35%;
      max-width: 600px;
      text-align: center;
      border-radius: 10px;
    }
  }